@import '//fonts.googleapis.com/css?family=Lato';
@import (inline) 'npm://normalize.css/normalize';
@import (inline) 'npm://vex-js/css/vex';
@import (inline) 'npm://vex-js/css/vex-theme-top';
@import (inline) 'npm://nprogress/nprogress';
@import 'nprogress';
@import 'npm://toastr/toastr.less';
@import 'toastr';
@import 'pace';
@import 'colors';
@import 'loadingSpinner';
@import (inline) '../icomoon/style.css';
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: @cogift-background;
  color: @cogift-foreground;
}

.app {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 12px;
  font-size: 130%;
  color: @cogift-foreground;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  text-align: left;
  color: @cogift-foreground;
  margin: 16px 0;
}

.gift {
  cursor: pointer;
  padding: 2px;
  &:hover {
    background: lighten(@cogift-background, 10%);
  }
  &:active {
    background: fadeout(@cogift-foreground, 50%);
  }
  &.selected {
    background: fadeout(@cogift-foreground, 80%);
  }
}

.listWrapper {}

.giftInput {
  width: 100%;
  background: none;
  border: 1px solid @cogift-foreground;
  color: @cogift-foreground;
  padding: 8px;
}

.btn {
  background: none;
  border: 1px solid @cogift-accent;
  color: @cogift-accent;
  border-radius: 3px;
  margin: 12px 6px;
  padding: 6px;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  &:active {
    background: rgba(0, 0, 0, 0.2);
  }
}

.icon {
  margin-right: 5px;
  margin-left: 2px;
  font-size: 90%;
}

.navBar {
  border-bottom: 1px solid @cogift-foreground;
  color: @cogift-accent;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.navButtons {
  display: inline-block;
}

.navItem {
  display: inline-block;
  padding: 12px;
}
