@import "//fonts.googleapis.com/css?family=Lato";
@import "bootstrap";

body {
	font-family: 'Lato', sans-serif;
	padding-top: 50px;
	background: white;
}

.main {
	text-align: center;
	margin-top: 10px;
}

.list {
	list-style: none;
	padding: 0;
}
